.img-background{
  //background-color: #51767f;
  background-image: url("../img/img-slide-home.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;
  background-position-y: 65%;
  position: relative;
}