.txt-recherche{
  font-size: 12px;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
.zone-avantage{
  background-color: rgba(0,0,0,0.5);
  width: 35%;
  position: absolute;
  right: 10%;
  top: 20%;
  height: 260px;

}
.zone-avantage p{
  color: #fff;
  text-decoration: none;
}
.zone-avantage ul{
  list-style: none;
  text-align: left;
  line-height: 15px;
  display: inline-block;
  margin: auto;
  margin-top: auto;
  margin-top: 40px;
}
.section{
  margin-bottom:25px
}
.zone-service{
  text-align: center;
  background-color: #51767f;
  margin-top: -20px;
}
.zone-pub{
  background-color: #2a2e33;
  text-align: center;
}
.zone-marche{
  text-align: center;
  background-color: #007BB6;
  margin-top: -20px;
  color: #ffffff;
}
.zone-txt-animation{
  width:50%;
}