<div class="footer">
    <div class="container">
        <div class="footer_grids">
            <h2 class="title-footer">Reseau voisinage</h2>
            <div class="block-footer col-md-4 col-sm-6">
                <ul class="list1">
                    <li><a title="réseau social" href="#">A propos</a></li>
                    <li><a title="comment utiliser" href="#">Conditions d'utilisation</a></li>
                    <li><a title="confidentialité des données" href="#">Confidentialité</a></li>
                    <li><a title="contact" href="#">Nous contacter</a></li>
                    <li><a title="aide" href="#">Aide</a></li>
                </ul>
            </div>
            <div class="block-footer col-md-4 col-sm-6">
                <ul class="list2">
                    <li><a title="réseau social" href="#">A propos</a></li>
                    <li><a title="comment utiliser" href="#">Conditions d'utilisation</a></li>
                    <li><a title="confidentialité des données" href="#">Confidentialité</a></li>
                    <li><a title="contact" href="#">Nous contacter</a></li>
                    <li><a title="aide" href="#">Aide</a></li>
                </ul>
            </div>
            <div class="block-footer col-md-4 col-sm-6">
                <ul class="list3">
                    <li><a title="réseau social" href="#">A propos</a></li>
                    <li><a title="comment utiliser" href="#">Conditions d'utilisation</a></li>
                    <li><a title="confidentialité des données" href="#">Confidentialité</a></li>
                    <li><a title="contact" href="#">Nous contacter</a></li>
                    <li><a title="aide" href="#">Aide</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>






<!--<div class="footer">-->
    <!--<hr>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-3">-->
                <!--<h5 class="blue_h5">Telecharger sur smartphone</h5>-->
                <!--<p>-->
                    <!--oui-->
                <!--</p>-->
            <!--</div>-->
            <!--<hrvertical></hrvertical>-->
            <!--<div class="col-sm-3">-->
                <!--<h5 class="blue_h5">Questions frequentes</h5>-->
                <!--<p>-->
                    <!--oui-->
                <!--</p>-->
            <!--</div>-->
            <!--<hrvertical></hrvertical>-->
            <!--<div class="col-sm-3">-->
                <!--<h5 class="blue_h5">Economie citoyenne</h5>-->
            <!--</div>-->
            <!--<hrvertical></hrvertical>-->
            <!--<div class="col-sm-2">-->
                <!--<h5 class="blue_h5">Mentions légales</h5>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->